<article class="poster-card card-enter{% if featured %} featured-product cover-flow-item{% endif %}">
  <a class="poster-card__image" href="{{ product.url }}">
    {% if product.featured_media %}{{ product.featured_media | image_url: width: 900 | image_tag: loading: 'lazy', widths: '300,450,600,900', alt: product.title }}{% endif %}
  </a>
  <div class="poster-card__details"><a href="{{ product.url }}">{{ product.title }}</a><p>{{ product.vendor }} · {{ product.price | money }}</p></div>
</article>
